.header {
  padding: 25px 5px 5px 15px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.headerLeft {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.teamIcon {
  font-size: 26px;
  margin-right: 12px;
}
